@using Stimulsoft.Report.Mvc;

@{
    ViewBag.Title = "Index";
}

<h2>Edit Report in the Designer</h2>

@Html.StiNetCoreDesigner(new StiNetCoreDesignerOptions()
{
    Actions =
    {
        GetReport = "GetReport",
        SaveReport = "SaveReport",
        //SaveReportAs = "SaveReportAs",
        DesignerEvent = "DesignerEvent"
    }
})