@using Stimulsoft.Report.Mvc;

@{
    ViewBag.Title = "Index";
}

<h2>Manage Report Printing and Exporting</h2>

@Html.StiNetCoreViewer(new StiNetCoreViewerOptions()
{
    Actions =
    {
        GetReport = "GetReport",
        PrintReport = "PrintReport",
        ExportReport = "ExportReport",
        ViewerEvent = "ViewerEvent"
    }
})